html, body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF7ED; 
  padding: 0 30px;
}

.vanlife-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 25.3531px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
}

.end-nav-container {
  display: flex;
  gap: 20px;
}

.end-nav-container > a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  color: #4D4D4D;
  text-decoration: none;
}

.home {
  background-image: url("./images/home-bg.png");
  background-size: cover;
  background-position: center center;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 20px;
}

.home > h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  margin: 0;
}

.home > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.home-link {
  width: 100%;
  text-decoration: none;
  margin-top: 20px;
}

.home-vans-button {
  background-color: #FF8C38;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
}

.about-pic {
  width: 100%;
  height: 240px;
  background-image: url("./images/about-pic.png");
  background-size: cover;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #FFF7ED;
}

.about-slogan {
  background-color: #FFCC8D;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-radius: 5px;
}

.about-content > h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #161616;
}

.about-content > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #161616;
}

.about-slogan > p {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #161616;
}

.about-slogan-link {
  text-decoration: none;
}

.about-vans-button {
  background-color: #161616;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15.9462px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin: 20px 0;
}

.footer {
  bottom: 0px;
  width: 100%;
  height: 75px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AAAAAA;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
}